doctype
html
    include _mixin.jade
    head
        title 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport', content='width=1215')
        meta(content='telephone=no', name='format-detection')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,cyrillic-ext')
        link(rel='stylesheet', href='css/main.css')
        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
    body#main
        header
            +root
                .col-xs-2
                    .logo
                        img(src="img/logo.png", alt="", class="img-responsive")
                .col-xs-7
                    ul
                        li
                            a(href="#what") Что вы получите?
                        li
                            a(href="#tools") Инструменты
                        li
                            a(href="#team") Наша команда
                        li
                            a(href="#test") Тестовый период
                        li
                            a(href="#contacts") Контакты
                .col-xs-3
                    .block
                        .phone
                            a(href="tel:") +7 (495) 369 68 21
                        .callback
                            img(src="img/phone.png", alt="")
                            a(href="#callback") Заказать звонок
        .color-overlay
        section.bg1
            +root
                .col-xs-12
                    h1 Решаем задачи управления качеством клиентского обслуживания за счет информационных технологий
                    p.under
                        |Более 10 лет опыта работы с такими компаниями, как: 
                        br
                        |Сбербанк, МТС, Мегафон, МГТС, Ростелеком,  Газпромнефть и другие.
                    button.buy Заказать консультацию бесплатно 
                    //- .down
                    //-     img.img-responsive(src="img/down.png", alt="")
        section.bg2#bg2
            +root
                .col-xs-12
                    h2 По каким причинам вы теряете клиентов?
            +root
                .col-xs-6
                    .block.wow.fadeInLeft(data-wow-delay="0s")
                        .bord
                            img.img-responsive.pull-left(src="img/why_06.png", alt="")
                        .text
                            h4 65% клиентов 
                            p.min отказываются от услуг компании после прочтения негативных отзывов
                .col-xs-6
                    .block.wow.fadeInLeft(data-wow-delay="0.35s")
                        .bord
                            img.img-responsive.pull-left(src="img/why_03.png", alt="")
                        .text
                            h4 85% недовольных 
                            p.min клиентов молча уходят к конкурентам и только 15% жалуются 
            +root
                .col-xs-6
                    .block.wow.fadeInLeft(data-wow-delay="0.7s")
                        .bord
                            img.img-responsive.pull-left(src="img/why_11.png", alt="")
                        .text
                            h4 До 40% клиентов  
                            p.min теряются из-за непрофессиональных и нелояльных сотрудников
                .col-xs-6
                    .block.wow.fadeInLeft(data-wow-delay="1.05s")
                        .bord
                            img.img-responsive.pull-left(src="img/why_14.png", alt="")
                        .text
                            h4 95% недовольных 
                            p.min клиентов возвращаются, если проблему решить быстро и эффективно
            +root
                .col-xs-12
                    .form
                        p.zag
                            | Получите подробную консультацию  
                            br
                            | по улучшению сервиса 
                            span в вашем бизнесе 
                        include form.jade
                        p.conf.
                            Гарантируем 100% конфиденциальность ваших сведений
        section.bg3#what
            +root
                .col-xs-12
                    h2 Что Вы получите, работая с нами?
            +root  
                .col-xs-12
                    img.img-responsive.whitearr1.wow.fadeInDown(src="img/whitearr1.png", alt="", data-wow-delay="0.7s")
                    img.img-responsive.whitearr2.wow.fadeInDown(src="img/whitearr2.png", alt="", data-wow-delay="1.2s") 
                    p.profitup.wow.pulse(data-wow-offset="100") Повышение доходности от 10%
                    .bl1
                        img.img-responsive.pull-left(src="img/d_03.png", alt="")
                        p.txt Сохранение и преумножение числа постоянных покупателей
                    .bl2
                        img.img-responsive.pull-left(src="img/d_06.png", alt="")
                        p.txt Помогаем добиться результата за счет улучшения следующих показателей:
                    .bigblock.wow.fadeInDown(data-wow-delay="1s")
                        .row
                            .col-xs-4
                                .minbord.wow.fadeIn(data-wow-delay="1.2s")
                                    | 1
                            .col-xs-4
                                .minbord.wow.fadeIn(data-wow-delay="1.6s")
                                    | 2
                            .col-xs-4
                                .minbord.wow.fadeIn(data-wow-delay="2s")
                                    | 3
                    .complete.wow.pulse(data-wow-offset="100")
                        | дополнительный 
                        br
                        span
                            | ДОХОД
            .abs
                +root
                    .col-xs-4
                        .blog
                            img(src="img/ics_03.png", alt="" class="im1")
                            .newtxt.tm1 Информируемость потребителей
                    .col-xs-4
                        .blog
                            img(src="img/ics_05.png", alt="" class="im2")
                            .newtxt Удовлетворенность и лояльность клиентов
                    .col-xs-4
                        .blog
                            img(src="img/ics_07.png", alt="" class="im3")
                            .newtxt.tm3 Эффективность работы персонала
        section.bg4#tools
            +root
                .col-xs-12
                    h2 Инструменты улучшения клиентского сервиса
            +root
                .col-xs-4
                    .block.active_block
                        img.img-responsive.topimg(src="img/bigim_03.jpg", alt="")
                        .blockunder
                            .row
                                .col-xs-3
                                    .count
                                        | 1
                                .col-xs-9
                                    .zag
                                        | Консалтинг и обучение
                                    .greytext
                                        | Получите пошаговую схему достижения клиентского счастья
                            .row
                                .col-xs-3
                                    img.bl1img(src="img/bg4_i_03.png", alt="")
                                    img(src="img/bg4_i_10.png", alt="")
                                    img(src="img/bg4_i_14.png", alt="")
                                .col-xs-9
                                    p.ic
                                        | Исследования удовлетворенности покупателей
                                    p.ic
                                        | Внедрение Программ лояльности «под ключ»
                                    p.ic.down7
                                        | Школа клиентского сервиса
                            .row
                                .col-xs-6
                                    p.text-center.more.more1
                                        | Подробнее
                                .col-xs-6
                                    p.text-center.testim.acttestim.caro1
                                        | Отзывы / Опыт
                .col-xs-4
                    .block
                        img.img-responsive.topimg(src="img/bigim_05.jpg", alt="")
                        .blockunder
                            .row
                                .col-xs-3
                                    .count
                                        | 2
                                .col-xs-9
                                    .zag
                                        | Интерактивные планшеты
                                    .greytext
                                        | Оценивайте удовлетворенность,
                                        br
                                        |повышайте конверсию в точках продаж
                            .row
                                .col-xs-3
                                    img.bl1img(src="img/bg4_i_03.png", alt="")
                                    img(src="img/bg4_i_10.png", alt="")
                                    img(src="img/bg4_i_14.png", alt="")
                                .col-xs-9
                                    p.ic
                                        | Самые легкие технологии для контакта с Вашими клиентами
                                    p.ic
                                        | Трансляция рекламного контента
                                    p.ic.down2
                                        | Контроль качества работы персонала
                            .row
                                .col-xs-6
                                    p.text-center.more.more2
                                        | Подробнее
                                .col-xs-6
                                    p.text-center.testim.caro2
                                        | Отзывы / Опыт
                .col-xs-4
                    .block
                        img.img-responsive.topimg(src="img/bigim_07.jpg", alt="")
                        .blockunder
                            .row
                                .col-xs-3
                                    .count
                                        | 3
                                .col-xs-9
                                    .zag
                                        | Мобильные решения
                                    .greytext
                                        | Самые легкие технологии 
                                        br
                                        |для контакта с Вашими 
                                        br
                                        |клиентами
                            .row
                                .col-xs-3
                                    img(src="img/bg4_i_05.png", alt="" class="down1")
                                    img(src="img/bg4_i_09.png", alt="" class="")
                                    img(src="img/bg4_i_16.png", alt="" class="")
                                .col-xs-9
                                    p.ic
                                        | Получение обратной связи от клиентов 
                                    p.ic
                                        | Бесплатный канал рассылки сообщений об акциях и бонусах

                                    p.ic
                                        | Школа клиентского сервиса
                            .row.upd3
                                .col-xs-6
                                    p.text-center.more.more3
                                        | Подробнее
                                .col-xs-6
                                    p.text-center.testim.caro3
                                        | Отзывы / Опыт
            .owl-carousel#carous1
                .item
                    .testimonial.imon1
                        img.abstest1.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces(src="img/faces3.jpg", alt="")
                                .name
                                    | Светлана Писаревская 
                                .under
                                    | ОАО АКБ "Пробизнесбанк"
                                    br
                                    | г. Москва
                            .col-xs-9
                                h5 Отзыв внедрения одного из инструментов:
                                p.txt Развитие навыка работы с обратной связью у сотрудников позволило увеличить количество продаж на клиента, выявить узкие места и зоны развития персонала и сервисов банка. Снижен отток клиентов на 3 % (приблизительно) за 2015 год, благодаря своевременному выявлению проблемных мест в обслуживании.          
                                //- p.txt2
                                //-     | Развитие навыка работы с обратной связью у сотрудников позволило увеличить количество продаж на клиента, выявить узкие места и зоны развития персонала и сервисов банка.
                                //-     br
                                //-     br
                                                              
                                //- span.alltest
                                //-     | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
                .item
                    .testimonial.imon2
                        img.abstest1.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces(src="img/faces4.jpg", alt="")
                                .name
                                    | Ирина Чванова
                                .under
                                    | Директор по стратегическому развитию и работе с персоналом
                                    br
                                    | ОАО АКБ Газэнергобанк
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt В 2008 году, команда проекта Ирины Чичмели вплотную занялась серьезными разработками в области управления лояльностью, и в ОАО «Газэнергобанк» был реализован проект по измерению клиентской лояльности. До реализации этого проекта сотрудники интуитивно чувствовали, что эмоциональная лояльность клиентов влияет на финансовые результаты работы банка. 
                                p.txt2
                                    | В 2008 году, команда проекта Ирины Чичмели вплотную занялась серьезными разработками в области управления лояльностью, и в ОАО «Газэнергобанк» был реализован проект по измерению клиентской лояльности. До реализации этого проекта сотрудники интуитивно чувствовали, что эмоциональная лояльность клиентов влияет на финансовые результаты работы банка. 
                                    br
                                    br
                                    | Проект не только показал, что эта связь измерима, но и что ее можно использовать для влияния на финансовые результаты банка. По итогам измерений июня 2015 NPS клиентов Газэнергобанка составляет 56,6%, а прибыль по банку по сравнению с 6-ю мес. 2014 года выросла в 2,9 раз.                                
                                span.alltest
                                    | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
                .item
                    .testimonial.imon3
                        img.abstest1.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces(src="img/faces5.jpg", alt="")
                                .name
                                    | Юлия Ягнятинская
                                .under
                                    | Директор Департамента
                                    br
                                    | ОАО «ВУЗ-банк», г. Екатеринбург
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt Ирина Чичмели внедрила не просто методики и платформы управления клиентской лояльностью, что уже является глобальным прорывом для российской компании, но и сама является носителем культуры и ценностно ориентирована на клиентскую позицию, на клиентский взгляд на бизнес.
                                p.txt2
                                    | Ирина Чичмели внедрила не просто методики и платформы управления клиентской лояльностью, что уже является глобальным прорывом для российской компании, но и сама является носителем культуры и ценностно ориентирована на клиентскую позицию, на клиентский взгляд на бизнес. 
                                    br
                                    br
                                    | Ириной для нашего бизнеса было проведено большое количество тренингов и обучающих мероприятий. Разработано огромное количество методических материалов для анализа клиентской лояльности и работы с обратной связью клиентов. Полученные знания и навыки напрямую влияют на финансовый результат нашего бизнеса. 
                                    br
                                    br
                                    | По РСБУ ДМСБ ВУЗ за 7 мес. имеет чистую прибыль в размере 76 млн. р. и с 2011 г. был активно развивающимся и рентабельным бизнесом.
                                span.alltest
                                    | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
            .owl-carousel#carous2
                .item
                    .testimonial.imon4
                        img.abstest2.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces(src="img/faces2.jpg", alt="")
                                .name
                                    | Андрей Булгаков 
                                .under
                                    | Начальник Центра продаж 
                                    br
                                    | ОАО МГТС
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt Мы установили на рабочем месте каждого специалиста офиса продаж CRM-сенсоры. В следующие три месяца мы выявили, что использование CRM-сенсоров позволило на 15% увеличить количество абонентов, получивших полную информацию по своему вопросу и на 10% повысить информирование о возможностях дополнительных услуг на основе технологии GPON «оптика до квартиры». 
                                p.txt2
                                    | Мы установили на рабочем месте каждого специалиста офиса продаж CRM-сенсоры. В следующие три месяца мы выявили, что использование CRM-сенсоров позволило на 15% увеличить количество абонентов, получивших полную информацию по своему вопросу и на 10% повысить информирование о возможностях дополнительных услуг на основе технологии GPON «оптика до квартиры». 
                                    br
                                    br
                                    | Качество обслуживания во флагманских офисах повысилось на 20%, индекс удовлетворенности клиентов вырос с 70% до 90%, время ожидания в очереди сократилось с 11 минут до 7 минут. По планам компании, продажи интернета вырастут на 30%, цифрового телевидения – на 20%». 
                                span.alltest
                                    | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
                .item
                    .testimonial.imon5
                        img.abstest2.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces.faceimon5(src="img/faces6.png", alt="")
                                .name
                                    | Антон Рудь 
                                .under
                                    | Вице-президент
                                    br
                                    | Московский Индустриальный Банк
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt «Оценка работы сотрудника по пятибалльной шкале дает нам возможность увидеть и проконтролировать, какое клиент получил обслуживание. А задав клиенту дополнительный вопрос, с какой вероятностью по 10-бальной шкале он порекомендует наш банк своим родственникам, друзьям и знакомым, мы имеем возможность посчитать NPS (Net Promoter Score).»
                                //- p.txt2
                                //-     | …около 80–85% наших клиентов используют смартфоны Apple либо Samsung. Приложение Passbook дало нам возможность коммуницировать с нашими клиентами на современном уровне, демонстрирующем в том числе то уважение, с которым мы к ним относимся. 
                                //-     br
                                //-     br
                                //-     | Использование Passbook позволило нам отказаться от почтовых и SMS-рассылок, которые нередко воспринимаются потребителем как обычный навязчивый спам, и это ощущение, как правило, только усиливается благодаря некачественному контенту и элементарному непрофессионализму его авторов. Luxury-ритейл предполагает наличие современных, изысканных и стильных инструментов коммуникации с клиентом. 
                                //-     br
                                //-     br
                                //-     | Приложение Passbook позволяет не только персонифицировать сообщение, но и сделать его визуально интересным, приятным, не вызывающим раздражения. 
                                //- span.alltest
                                //-     | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
            .owl-carousel#carous3
                .item
                    .testimonial.imon6
                        img.abstest3.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces.faceimon6(src="img/faces7.jpg", alt="")
                                .name
                                    | Сергей Солонченко
                                .under
                                    |  Директор Департамента развития Розницы 
                                    br
                                    | группа компаний «Рольф»
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt.txtimon6 Мы стремимся обеспечить максимальное удобство в общении с компанией Рольф, предугадать ожидания покупателей и дать немного больше, чем просто комфорт. Мы решили оставить в прошлом году устаревшие средства коммуникации с покупателями и перешли на электронные карты – новый уровень сервиса и удобства для клиента. 
                                //- p.txt2
                                //-     | Мы стремимся обеспечить максимальное удобство в общении с компанией Рольф, предугадать ожидания покупателей и дать немного больше, чем просто комфорт.
                                //-     br
                                //-     |  Мы решили оставить в прошлом году устаревшие средства коммуникации с покупателями и перешли на электронные карты – новый уровень сервиса и удобства для клиента. 
                                //- span.alltest
                                //-     | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
                .item
                    .testimonial.imon7
                        img.abstest3.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces(src="img/face.png", alt="")
                                .name
                                    | Петр Горшков
                                .under
                                    | Retail Director 
                                    br
                                    | HUGO BOSS Russia
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt …около 80–85% наших клиентов используют смартфоны Apple либо Samsung. Приложение Passbook дало нам возможность коммуницировать с нашими клиентами на современном уровне, демонстрирующем в том числе то уважение, с которым мы к ним относимся.  
                                p.txt2
                                    | …около 80–85% наших клиентов используют смартфоны Apple либо Samsung. Приложение Passbook дало нам возможность коммуницировать с нашими клиентами на современном уровне, демонстрирующем в том числе то уважение, с которым мы к ним относимся. 
                                    br
                                    br
                                    | Использование Passbook позволило нам отказаться от почтовых и SMS-рассылок, которые нередко воспринимаются потребителем как обычный навязчивый спам, и это ощущение, как правило, только усиливается благодаря некачественному контенту и элементарному непрофессионализму его авторов. Luxury-ритейл предполагает наличие современных, изысканных и стильных инструментов коммуникации с клиентом. 
                                    br
                                    br
                                    | Приложение Passbook позволяет не только персонифицировать сообщение, но и сделать его визуально интересным, приятным, не вызывающим раздражения. 
                                span.alltest
                                    | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
                .item
                    .testimonial.imon8
                        img.abstest3.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces(src="img/faces8.jpg", alt="")
                                .name
                                    | Елена Левыкина
                                .under
                                    | Директор по организационному развитию
                                    br
                                    | «Марчеллис»
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt На основании нашей аналитики была замечена очень четкая связь между количеством отзывов + соотношение позитивных и негативных с финальными результатами по товарообороту за неделю и месяц.
                                p.txt2
                                    | На основании нашей аналитики была замечена очень четкая связь между количеством отзывов + соотношение позитивных и негативных с финальными результатами по товарообороту за неделю и месяц.
                                    br
                                    br
                                    | Чем больше отзывов гости оставляют с конкретного ресторана, чем больше из них позитивных – тем больше выручка. Соответственно, у нас, руководителей, с помощью сервиса ТМР есть возможность не просто считать недозаработанные деньги «посмертно» по итогам месяца и отчетам месяца, а влиять в режиме реально времени. Затихли отзывы – жди беды. Направь аудит. Запроси информацию. Съезди перепроверь сам, что происходит в ресторане. Негативные отзывы – срочно остановиться и проанализировать, что команда делает не верно. И все это в режиме невероятного онлайна. Без проволочек. Задержек. Искажений информации в интерпретации менеджера зала (типа, гости такие пришли злые)…
                                    br
                                    br
                                    | … отзыв менеджеру попадает немедленно и у него есть возможность прямо на месте решить ситуацию. У гостей это вызывает дикий восторг. В 80-ти процентах случаев настолько, что гости не ленятся написать повторный отзыв о том, как быстро и просто была решена ситуация. Какие мы молодцы.
                                span.alltest
                                    | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
            +root
                .col-xs-4
                    .block.active_block
                        img.img-responsive.topimg(src="img/bigim_12.jpg", alt="")
                        .blockunder
                            .row
                                .col-xs-3
                                    .count
                                        | 4
                                .col-xs-9
                                    .zag
                                        | Интернет-технологии
                                    .greytext
                                        | Управляйте репутацией своей 
                                        br
                                        |компании  в интернете
                            .row
                                .col-xs-3
                                    img.frst4(src="img/bg4_i_30.png", alt="", class='down9')
                                    img(src="img/bg4_i_16.png", alt="")
                                    img(src="img/bg4_i_44.png", alt="")
                                .col-xs-9
                                    p.ic
                                        | Мониторинг социальных сетей, блогов, отзывов
                                    p.ic
                                        | Устранение и вытеснение негатива
                                    p.ic
                                        | Формирование позитивного имиджа и доверия к компании
                            .row.upd4
                                .col-xs-6
                                    p.text-center.more.more4
                                        | Подробнее
                                .col-xs-6
                                    p.text-center.testim.caro4.acttestim
                                        | Отзывы / Опыт
                .col-xs-4
                    .block
                        img.img-responsive.topimg(src="img/bigim_14.jpg", alt="")
                        .blockunder
                            .row
                                .col-xs-3
                                    .count
                                        | 5
                                .col-xs-9
                                    .zag
                                        | Решения для Call-центра
                                    .greytext
                                        | Обеспечивайте клиентам идеальное  телефонное обслуживание
                            .row
                                .col-xs-3
                                    img.frst4(src="img/bg4_i_33.png", alt="")
                                    img(src="img/bg4_i_39.png", alt="")
                                    img(src="img/bg4_i_46.png", alt="")
                                .col-xs-9
                                    p.ic
                                        | Удобные сервисы самообслуживания
                                    p.ic
                                        | Контроль  качества работы операторов
                                    p.ic
                                        | Мониторинг удовлетворенности клиентов и причин обращений
                            .row.upd5
                                .col-xs-6
                                    p.text-center.more.more5
                                        | Подробнее
                                .col-xs-6
                                    p.text-center.testim.caro5
                                        | Отзывы / Опыт
                .col-xs-4
                    .block
                        img.img-responsive.topimg(src="img/bigim_16.jpg", alt="")
                        .blockunder
                            .row
                                .col-xs-3
                                    .count
                                        | 6
                                .col-xs-9
                                    .zag.lastzag
                                        | Автоматизация 
                                        br
                                        |бизнес-процессов
                                    .greytext
                                        | Настройте свой бизнес 
                                        br
                                        |на максимальную 
                                        br
                                        |эффективность
                            .row
                                .col-xs-3
                                    img.frst5(src="img/bg4_i_35.png", alt="" class="down8")
                                    img(src="img/bg4_i_40.png", alt="" class="down3")
                                    img(src="img/bg4_i_48.png", alt="" class="down3")
                                .col-xs-9
                                    p.ic
                                        | Комплексная автоматизация отношений с клиентами: CRM и ERP системы 
                                    p.ic
                                        | Повышение эффективности продаж и коммуникаций с потребителями
                                    p.ic
                                        | Оптимизация внутренних бизнес-процессов
                            .row.upd6
                                .col-xs-6
                                    p.text-center.more.more6
                                        | Подробнее
                                .col-xs-6
                                    p.text-center.testim.caro6
                                        | Отзывы / Опыт
            .owl-carousel#carous4
                .item
                    .testimonial.imon9
                        img.abstest1.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces(src="img/kozak.png", alt="")
                                .name
                                    | Николай Козак
                                .under
                                    | Deputy E-Commerce Director
                                    br
                                    | Спортмастер
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt Мне приятно рекомендовать Дмитрия и его компанию Sidorin.Lab в качестве отличных партнеров по комплексному продвижению Ваших интернет ресурсов и управлению репутацией Вашей Компании в digital пространстве.
                                p.txt2
                                    | Мне приятно рекомендовать Дмитрия и его компанию Sidorin.Lab в качестве отличных партнеров по комплексному продвижению Ваших интернет ресурсов и управлению репутацией Вашей Компании в digital пространстве.
                                    br
                                    br
                                    | Дима невероятно вовлечен в те вопросы, которыми занимается. Сочетает в себе математическую логику, творческий подход к решению задач, аккуратность и результативность. Особо отмечу прекрасный account management и консалтинг по вопросам SEO & SMM.
                                span.alltest
                                    | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
            .owl-carousel#carous5
                .item
                    .testimonial.imon11
                        img.abstest2.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces.faceimon11(src="img/faces9.png", alt="")
                                .name
                                    | Дмитрий Витчинка
                                .under
                                    | Главный советник, член совета директоров 
                                    br
                                    | ООО "Телеком-Экспресс"
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt За 5 месяцев работы автоматического голосового сервиса им воспользовалось более 5 млн. человек, что позволило сэкономить более 10,5 млн. руб., или 15 млн. минут работы операторов единого информационно-сервисного центра "РЖД".
                                //- p.txt2
                                //-     | За 5 месяцев работы автоматического голосового сервиса им воспользовалось более 5 млн. человек...
                                //-     br
                                //-     br
                                //-     | Использование Passbook позволило нам отказаться от почтовых и SMS-рассылок, которые нередко воспринимаются потребителем как обычный навязчивый спам, и это ощущение, как правило, только усиливается благодаря некачественному контенту и элементарному непрофессионализму его авторов. Luxury-ритейл предполагает наличие современных, изысканных и стильных инструментов коммуникации с клиентом. 
                                //-     br
                                //-     br
                                //-     | Приложение Passbook позволяет не только персонифицировать сообщение, но и сделать его визуально интересным, приятным, не вызывающим раздражения. 
                                //- span.alltest
                                //-     | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
                .item
                    .testimonial.imon12
                        img.abstest2.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces.faceimon12(src="img/faces10.jpg", alt="")
                                .name
                                    | Михаил Медведев
                                .under
                                    | Вице-президент
                                    br
                                    | ВТБ24
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt Реализованный на базе платформы VoiceNavigator сервис успешно интергрирован в инфраструктуру контактного центра банка, построенного на решение AVAYA. В настоящий момент голосовой сервис поиска отделений и банкоматов обслуживает клиентов банка более чем в 100 городах России, предоставляя информацию, не только о собственных банкоматах и отделениях сети ВТБ24, но и о банкоматах Группа ВТБ.
                                p.txt2
                                    | Реализованный на базе платформы VoiceNavigator сервис успешно интергрирован в инфраструктуру контактного центра банка, построенного на решение AVAYA.
                                    br
                                    br
                                    | В настоящий момент голосовой сервис поиска отделений и банкоматов обслуживает клиентов банка более чем в 100 городах России, предоставляя информацию, не только о собственных банкоматах и отделениях сети ВТБ24, но и о банкоматах Группа ВТБ.
                                    br
                                    br
                                    | В диалоге с системой, Клиенту достаточно произнести название своего города, улицы и номера дома. С помощью геосервиса система в кратчайшие сроки определяет местоположение Клиента и предлагает ему маршрут до ближайшего банкомата или отделения.
                                span.alltest
                                    | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
            .owl-carousel#carous6
                .item
                    .testimonial.imon13
                        img.abstest3.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces.faceimon13(src="img/faces11.png", alt="")
                                .name
                                    | Евгений Маслянов
                                .under
                                    | Руководитель программы лояльности 
                                    br
                                    | "Семь+Я"
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt До введения программы лояльности отклик на "ковровую" sms-рассылку ьыл до 1,5%, а сейчас около 10% при низких затратах.
                                //- p.txt2
                                //-     | …около 80–85% наших клиентов используют смартфоны Apple либо Samsung. Приложение Passbook дало нам возможность коммуницировать с нашими клиентами на современном уровне, демонстрирующем в том числе то уважение, с которым мы к ним относимся. 
                                //-     br
                                //-     br
                                //-     | Использование Passbook позволило нам отказаться от почтовых и SMS-рассылок, которые нередко воспринимаются потребителем как обычный навязчивый спам, и это ощущение, как правило, только усиливается благодаря некачественному контенту и элементарному непрофессионализму его авторов. Luxury-ритейл предполагает наличие современных, изысканных и стильных инструментов коммуникации с клиентом. 
                                //-     br
                                //-     br
                                //-     | Приложение Passbook позволяет не только персонифицировать сообщение, но и сделать его визуально интересным, приятным, не вызывающим раздражения. 
                                //- span.alltest
                                //-     | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
                .item
                    .testimonial.imon14
                        img.abstest3.uptest(src="img/up.png", alt="")
                        +root
                            .col-xs-3
                                img.img-responsive.faces.faceimon14(src="img/faces12.jpg", alt="")
                                .name
                                    | Дмитрий Комаров
                                .under
                                    | Директор по маркетингу
                                    br
                                    | "Кораблик"
                            .col-xs-9
                                h5 Отзыв  внедрения одного из инструментов:
                                p.txt Величина среднего чека участника программы лояльности на 40% выше.
                                //- p.txt2
                                //-     | …около 80–85% наших клиентов используют смартфоны Apple либо Samsung. Приложение Passbook дало нам возможность коммуницировать с нашими клиентами на современном уровне, демонстрирующем в том числе то уважение, с которым мы к ним относимся. 
                                //-     br
                                //-     br
                                //-     | Использование Passbook позволило нам отказаться от почтовых и SMS-рассылок, которые нередко воспринимаются потребителем как обычный навязчивый спам, и это ощущение, как правило, только усиливается благодаря некачественному контенту и элементарному непрофессионализму его авторов. Luxury-ритейл предполагает наличие современных, изысканных и стильных инструментов коммуникации с клиентом. 
                                //-     br
                                //-     br
                                //-     | Приложение Passbook позволяет не только персонифицировать сообщение, но и сделать его визуально интересным, приятным, не вызывающим раздражения. 
                                //- span.alltest
                                //-     | Весь отзыв
                                img.img-responsive.quote1(src="img/qoute.png", alt="")
                                img.img-responsive.quote2(src="img/qoute.png", alt="")
        section.bg5
            +root
                .col-xs-12
                    .form
                        p.zag
                            | Получите 

                            span
                                | бесплатный тестовый доступ 
                            br
                            | к нашим инструментам вы неизбежно получите результат!
                        include form.jade
                        p.conf
                            |Гарантируем 100% конфиденциальность ваших сведений. Состав услуг, доступных для пилотного тестирования, ограничен.
        section.bg6
            +root
                .col-xs-12
                    h2 Кто наши клиенты?
            +root
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.2s")
                        img.img-responsive.pull-left(src="img/clients_09.png", alt="")
                        p.desc.
                            Страховые компании
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.2s")
                        img.img-responsive.pull-left(src="img/clients_06.png", alt="")
                        p.desc.
                            Банки
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.2s")
                        img.img-responsive.pull-left(src="img/clients_03.png", alt="")
                        p.desc.
                            Сети ресторанов 
            +root
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.4s")
                        img.img-responsive.pull-left(src="img/clients_16.png", alt="")
                        p.desc.
                            Медицина
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.4s")
                        img.img-responsive.pull-left.upd(src="img/clients_15.png", alt="")
                        p.desc
                            |Государственные 
                            br
                            |учреждения
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.4s")
                        img.img-responsive.pull-left(src="img/clients_14.png", alt="")
                        p.desc.
                            Сети отелей
            +root
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.6s")
                        img.img-responsive.pull-left(src="img/clients_22.png", alt="")
                        p.desc.
                            Операторы связи
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.6s")
                        img.img-responsive.pull-left(src="img/clients_21.png", alt="")
                        p.desc.
                            Авиакомпании
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.6s")
                        img.img-responsive.pull-left.upd(src="img/clients_20.png", alt="")
                        p.desc
                            |Производители 
                            br
                            |товаров
            +root
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.8s")
                        img.img-responsive.pull-left(src="img/clients_28.png", alt="")
                        p.desc.
                            Образование
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.8s")
                        img.img-responsive.pull-left(src="img/clients_27.png", alt="")
                        p.desc.
                            Сети АЗС
                .col-xs-4
                    .block.wow.fadeInLeft(data-wow-delay="0.8s")
                        img.img-responsive.pull-left(src="img/clients_26.png", alt="")
                        p.desc.
                            Розничные магазины
        section.bg7#team
            +root
                .col-xs-12
                    h2 Команда профессионалов
            +root
                .col-xs-12
                    .block
                        img.img-responsive.im1.bgfaces(src="img/cheloveki7.png", alt="")
                        img.img-responsive.im2.bgfaces(src="img/cheloveki5.png", alt="")
                        img.img-responsive.im3.bgfaces(src="img/cheloveki6.png", alt="")
                        img.img-responsive.im4.bgfaces(src="img/cheloveki8.png", alt="")
                        img.img-responsive.im5.bgfaces(src="img/cheloveki1.png", alt="")
                        img.img-responsive.im6.bgfaces(src="img/cheloveki2.png", alt="")
                        img.img-responsive.im7.bgfaces(src="img/cheloveki4.png", alt="")
                        img.img-responsive.im8.bgfaces(src="img/cheloveki3.png", alt="")
            +root
                .col-xs-6
                    .rel
                        .act_img
                            img(src="img/cheloveki7.png", alt="", class="img-responsive")
                .col-xs-5.blocks.col-xs-offset-6
                    .bl1.active_block_text.hidebl
                        .name Харин Денис
                        .desc Основатель, Генеральный директор
                        .about.
                            Образование: Московский авиационный институт (МАИ), Московская Международная высшая школа бизнеса МИРБИС, специализация "Стратегический менеджмент и предпринимательство".
                        span.tog_btn.com1 Подробнее
                        .row.marg
                            .col-xs-4
                                p.exp.about_txt Опыт работы
                                p.edu.about_txt Образование
                                p.result.about_txt Результат
                            .col-xs-7
                                p.exp2.about_txt2 10 лет
                                p.edu2.about_txt2 МАИ, МИРБИС
                                p.result2.about_txt2 34 компании с доходом +20%
                    .bl2.hidebl
                        .name Владислав Ус
                        .desc Директор практики по CX, CRM и программам лояльности
                        .about.
                            Ведущийроссийский эксперт в области управления клиентским опытом и маркетинга лояльности с практическим опытом более 17 лет и 60+ реализованными проектами на рынках России, стран СНГ, Западной Европы и Юго-восточной Азии.
                        span.tog_btn.com2 Подробнее
                        .row.marg
                            .col-xs-4
                                p.exp.about_txt Опыт работы
                            .col-xs-7
                                p.exp2.about_txt2 17 лет
                    .bl3.hidebl
                        .name Андрей Якунченков
                        .desc Директор по развитию бизнеса
                        .about.
                            Образование: Военная Академия РВСН им. Петра Великого по специальности «Вычислительные комплексы, системы и сети».
                        span.tog_btn.com3 Подробнее
                        .row.marg
                            .col-xs-4
                                p.exp.about_txt Опыт работы
                                p.edu.about_txt Образование
                                p.result.about_txt Результат
                            .col-xs-7
                                p.exp2.about_txt2 10 лет
                                p.edu2.about_txt2 Военная Академия РВСН
                                p.result2.about_txt2 награды EMC, HitachiData Systems и ABBYY.
                    .bl4.hidebl
                        .name Алексей Орлов
                        .desc Коммерческий директор
                        .about.
                            Образование: Московский авиационный институт (национальный исследовательский университет), Москва. Специальность: Двигатели и ракетостроение/ Инженер 
                        span.tog_btn.com4 Подробнее
                        .row.marg
                            .col-xs-4
                                p.edu.about_txt Образование
                            .col-xs-7
                                p.edu2.about_txt2 МАИ
                    .bl5.hidebl
                        .name Ярмоленко Ирина
                        .desc Директор по программам клиентского сервиса и обучения персонала
                        .about.
                            Образование: Московский Гуманитарно-Экономический Институт, специальность «Психолог. Преподаватель психологии» (красный диплом).
                        span.tog_btn.com5 Подробнее
                        .row.marg
                            .col-xs-4
                                p.edu.about_txt Образование
                                p.result.about_txt Результат
                            .col-xs-7
                                p.edu2.about_txt2 МГЭИ
                                p.result2.about_txt2 Обучила более 7000 человек
                    .bl6.hidebl
                        .name Максим Скляров
                        .desc Технический директор
                        .about.
                            Образование: Военно-Воздушная Инженерная Академия им. Н.Е. Жуковского
                        span.tog_btn.com6 Подробнее
                        .row.marg
                            .col-xs-4
                                p.exp.about_txt Опыт работы
                                p.result.about_txt Результат
                            .col-xs-7
                                p.exp2.about_txt2 10 лет
                                p.result2.about_txt2 Осуществил внедрения систем управления очередью в крупные банки страны
                    .bl7.hidebl
                        .name Татьяна Воронова
                        .desc Директор по интернет  маркетингу
                        .about.
                            Образование: Гомельский государственный университет имени П.О.Сухого, специализация "Менеджмент в сфере производства и услуг".
                        span.tog_btn.com7 Подробнее
                        .row.marg
                            .col-xs-4
                                p.edu.about_txt Образование
                            .col-xs-7
                                p.edu2.about_txt2 ГГУ
                    .bl8.hidebl
                        .name Алексей Карпов 
                        .desc Директор Департамента информационных систем
                        .about.
                            Образование: Московский государственный университет информационных технологий, радиотехники и электроники (МИРЭА), кандидат технических наук. 
                        span.tog_btn.com8 Подробнее
                        .row.marg
                            .col-xs-4
                                p.exp.about_txt Опыт работы
                                p.edu.about_txt Образование
                            .col-xs-7
                                p.exp2.about_txt2 10 лет
                                p.edu2.about_txt2 МИРЭА
        section.bg8#test
            +root
                .col-xs-12
                    h2 Оставьте заявку на консультацию экспертов
                    p.text-center.under 
                        | Вы получите экспресс-аудит вашего бизнеса  
                        br
                        | и рекомендации по повышению лояльности клиентов БЕСПЛАТНО.
            +root
                .col-xs-12
                    .form
                        .shape
                            .row
                                .col-xs-8
                                    p.name_step Ваша контактная информация
                                .col-xs-4
                                    //- p.step Шаг 1 из 2

                        .row.include_form
                            .col-xs-12
                                include form2.jade
        .map#contacts
            .ymaps
            #map
        footer
            +root
                .col-xs-6
                    p © 2015 CRM Expert: технологии для клиентоориентированного бизнеса
                .col-xs-6
                    //- p.dev Разработка сайта - 
                    //-     a(href="http://маркетинговое-агентство.рф/" target="_blank")  GulfStream
        include popups.jade



















        script(src="js/main.js")
        script(src="http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru_RU")
