<div class="popups">

   <div class="popup1">
    <div class="box-modal_close arcticmodal-close close"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="zag">
          <span>
            
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="desc">
            
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        //= form.html
        <p class="min">
          
        </p>
      </div>
    </div>
  </div>

  <div class="thanks">
    <div class="box-modal_close arcticmodal-close close"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="zag">
          <span>

          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="desc">
          
        </p>
      </div>
    </div>
  </div>

</div>