.popups
  .popup1
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Заказать обратный звонок!
          span
    .row
      .col-xs-12
        p.desc
          |Оставьте заявку на обратный звонок и наш менеджер перезвонит Вам в течение 15 минут
    .row
      .col-xs-12
        include form.jade
        p.min
          |Гарантируем 100% конфиденциальность ваших сведений
  .popupgo 
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Оставьте заявку 
          br
          |на консультацию для вашего бизнеса прямо сейчас
          span
    .row
      .col-xs-12
        p.desc
          |Наш менеджер перезвонит Вам в течение 15 минут
    .row
      .col-xs-12
        include form.jade
        p.min
          |Гарантируем 100% конфиденциальность ваших сведений
  .thanks
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Спасибо, 
          span.nameform
          |!
          br
          |Заявка отправлена, ожидайте звонка
          span
    .row
      .col-xs-12
        p.desc
          |В течение 15 минут мы перезвоним Вам!
  .command1
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          span.
            Харин Денис
          p.who.
            Основатель, Генеральный директор
    .row
      .col-xs-12
        p.desc
          |Образование: Московский авиационный институт (МАИ), инженер. Московская Международная высшая школа бизнеса МИРБИС, специализация "Стратегический менеджмент и предпринимательство". 
          br
          |Эксперт в области коммуникаций, продаж и развития стратегических взаимоотношений с крупными корпоративными клиентамии государственными органами (GovernmentRelations).Опыт работы в области информационных технологий более 14 лет. В течение 10лет занимался улучшением качества информационно-правового обслуживанияорганов государственной власти и коммерческих организаций.
          br
          |Более 4 лет работаетв сфере системной интеграции: Директор по развитию бизнеса в компаниях «Армада»(«Гелиос ИТ») и «АМТГруп». 
          br
          |Среди реализованных проектов более 50 договоров с организациями: Администрация Президента РФ, Совет Федерации Федерального Собрания РФ, Министерство экономического развития РФ, Счетная палата РФ, Федеральная налоговая служба, Госкорпорация «Ростехнологии», ОАО «ОАК», ОАО «РЖД», международные аэропорты Москвы, АО «Шнайдер-Электрик» и многие другие. 
  .command2
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          span.
            Владислав Ус
          p.who.
            Директор практики по CX, CRM и программам лояльности
    .row
      .col-xs-12
        p.desc
          |Ведущий российский эксперт в области управления клиентским опытом и маркетинга лояльности с практическим опытом более 17 лет и 60+ реализованными проектами на рынках России, стран СНГ, Западной Европы и Юго-восточной Азии.
          br
          |Член Консультационного Совета в LMC Group, LoyaltyPlant, Dailywinn. Главный редактор портала "Библиотека лояльности".
          br
          |Проектной группой под руководством Владислава разработаны и внедрены CRM и CX проекты, а также программы лояльности для известных международных и российских брендов: Amway, Samsung, Peugeot, Schwarzkopf Professional, Salamander Woly,Federal Mogul, Лукойл, и других.
          br
          |Автор более 100 публикаций в российских газетахи журналах: Ведомости, Финансовые Известия, Коммерсантъ Деньги, Профиль и многих других. 
          br
          |Автор и лектор курса "Специфика программ лояльности в ресторанном бизнесе" в Бизнес-школе RMA -ГУУ. Победитель Конкурса "Серебряный Меркурий 2008" -1-е место в номинации "Лучший проект с использованием новых технологий" за Разработку и внедрение программы лояльности для постоянных клиентов торговой сети "Настроение".
  .command3
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          span.
            Андрей Якунченков
          p.who.
            Директор по развитию бизнеса
    .row
      .col-xs-12
        p.desc
          |Образование: Военная Академия РВСН им. Петра Великого по специальности «Вычислительные комплексы, системы и сети».
          br
          |Более 10 лет успешной работы на рынке системной интеграции в компаниях «Техносерв», «АМТ-Груп». 
          br
          |В течение пяти лет занимался развитием бизнеса и проектами с крупнейшими финансовыми организациями страны. Участвовал в  реализации  стратегических  проектов  по  автоматизации процессов  выдачи  кредитов  и  операционной  деятельности Сбербанка России. 
          br
          |Руководил  командой  консалтинга,  разработки,  внедрения  и поддержки программных продуктов. Один  из  реализованных  проектов  занял  первое  место  в номинации «Лучшее отраслевое решение: Банки/Страхование» 2014 портала ИТ-директоров России Global CIO.
          br
          |Результаты работы отмечены наградами EMC, HitachiData Systems и ABBYY.
  .command4
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          span.
            Алексей Орлов
          p.who.
            Коммерческий директор
    .row
      .col-xs-12
        p.desc
          |Образование: Московский авиационный институт (национальный исследовательский университет), МоскваСпециальность: Двигатели и ракетостроение/Инженер. 
          br
          |Является ведущим экспертом в области продаж и работы с крупными корпоративными клиентами. Имеет непосредственный опыт реализации проектов в области системной интеграции и ИТ инфраструктуры.
          br
          |Карьеру в ИТ начинал с позиции инженера, дойдя до Директора по продажам одного из крупнейших системных интеграторов страны. 
          br
          |Руководил отделом продаж компании «Электро-ком», где обеспечил успешный вывод на рынок новой услуги, увеличил долю присутствия компании на рынке ШПД и организовал стабильный рост клиентской базы.  
          br
          |Принимал непосредственное участие ИТ-проектах регионального масштаба, что позволило компании «Астерос» стать крупнейшим ИТ-поставщиком для аэропортов, авиакомпаний и предприятий аэрокосмической промышленности  (CNews, 2012-2013г.)
  .command5
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          span.
            Ярмоленко Ирина
          p.who.
            Директор по программам клиентского сервиса и обучения персонала
    .row
      .col-xs-12
        p.desc
          |Образование: Московский Гуманитарно-Экономический Институт, специальность «Психолог. Преподаватель психологии» (красный диплом).
          br
          |Ведущий эксперт в области повышения качества сервисного обслуживания. Автор книги «Как продавать, не продавая: клиентский сервис и сервисные продажи», статей по обслуживанию клиентов, увеличению продаж и созданию клиентского потока, управлению персоналом, реализации желаний и достижению целей. Автор сервисной модели продаж и модели достижения целей «7 шагов к МОГУ». Бизнес-консультант, тренер, коуч, консультант по психологическому портрету.
          br
          |Сертифицированный эксперт в области психологии, NLP, продаж, лидерства и управления. 
          br
          |Обучила более 7000 человек в более чем 16 городах России. Участвовала в проектах для компаний Мегафон, ТехноНиколь, Академия, MiraxGroupи многих других.
          br
          |Преподаватель бизнес-школы City Business School программы «Управление продажами».
  .command6
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          span.
            Максим Скляров
          p.who.
            Технический директор
    .row
      .col-xs-12
        p.desc
          |Образование: Военно-Воздушная Инженерная Академия им. Н.Е. Жуковского
          br
          |Эксперт в области построения аппаратно-программных комплексов и создания IT-инфраструктуры. Автор и руководитель проекта  «Аппаратно-программный комплекс «Система Управления Потоком Клиентов».
          br
          |Более десяти лет возглавлял отдел технического контроля средств измерений в сфере оборонной безопасности в силовых структурах.
          br
          |Принимал участие в поставках и запуске роботизированного хранилища ценностей для Сбербанка России,проектов для коммерческих банков.Возглавлял группу по разработке передвижного банковского офиса для СбербанкаРоссии.
          br
          |Более 5 лет занимается проектами разработки аппаратно-программных комплексов в банковском секторе. Осуществил внедрения систем управления очередью в крупные банки страны (Сбербанк, СКБ Екатеринбург, Бин Банк, Башкомснаббанк), ФНС России, аэропорт «Домодедово»и многие другие. 
  .command7
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          span.
            Татьяна Воронова 
          p.who.
            Директор по интернет  маркетингу
    .row
      .col-xs-12
        p.desc
          |Образование: Гомельский государственный университет имени П.О.Сухого, специализация "Менеджмент в сфере производства и услуг".
          br
          |Эксперт в области репутационного аудита, мониторинга и аналитики соцмедиа. Возглавляет направление поинтернет маркетингу. Знает все об отслеживании отзывов в интернетеи социальных сетях, борьбе с негативом и создании позитивного информационного фона вокруг деятельности бизнеса.
          br
          |Работала в ведущих российских компаниях, разрабатывающих сервисы мониторинга средств массовой информации («Медиалогия») и социальных медиа («Крибрум»). 
          br
          |Участвовала в проектах с Итар-Тасс, CК Альянс, МТС и АФК Система, Банк Москвы, Росинтербанк, Русгидро, Роскомнадзор, Медиа Группа Украина, ВЦИОМ, Администрация Губернатора Калужской области и многих других.
  .command8
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          span.
            Алексей Карпов 
          p.who.
            Директор Департамента информационных систем
    .row
      .col-xs-12
        p.desc
          |Образование: Московский государственный университет информационных технологий, радиотехники и электроники (МИРЭА), кандидат технических наук. 
          br
          |Эксперт в области разработки информационных систем, систем автоматизации в областях: производство, торговля, услуги.
          br
          |Опыт работы в области информационных технологий более 16 лет. В течение 10 лет возглавляет группу компаний «Кейсофт».
          br
          |Ключевые компетенции команды Алексея:разработка и внедрение ИС на базе 1С, учетные и финансовые системы, CRM-решения, мобильная автоматизация, разработка WEB порталов, интеграция систем, поддержка и сопровождение ИС.
          br
          |В рамках группы компаний получено более 50 сертификатов, реализовано более 1000 проектов. Среди заказчиков организации из России, Украины, Белоруссии, США, Болгарии, Вьетнама, Таиланда.
  .popup_more1
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Консалтинг и обучение
          span
    .row
      .col-xs-6
        p.desc
          |Консалтинговые услуги, которые позволяют оценить факторы, влияющие на удовлетворенность клиентов в вашем бизнесе, и разработать комплекс мер на повышение лояльности потребителей.
        .img_block
      .col-xs-6
        p.about
          |Об инструменте:
        .row.padb
          img.pull-left.ics(src="img/bg4_i_48.png", alt="")
          p.mindesc
            |Исследование факторов, влияющих на удовлетворенности покупателей
        .row.padb
          img.pull-left.ics(src="img/bg4_i_40.png", alt="")
          p.mindesc
            |Измерение Индексов Удовлетворенности и Лояльности Потребителей и Партнеров вашей компании
        .row.padb
          img.pull-left.ics(src="img/bg4_i_44.png", alt="")
          p.mindesc
            |Разработка и внедрение Программ лояльности
        .row.padb
          img.pull-left.ics(src="img/bg4_i_14.png", alt="")
          p.mindesc
            |Школа цивилизованного клиентского сервиса: все о влиянии лояльности на финансовые результаты компании
        .row.padb
          img.pull-left.ics(src="img/bg4_i_35.png", alt="")
          p.mindesc
            |Программа «Спасибо, что вы с нами!»: исходящий обзвон и получение обратной связи от  наиболее важных клиентов
        .row
          button
            |Получить расчет цены
  .popup_more2
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Интерактивные планшеты
          span
    .row
      .col-xs-6
        p.desc
          |Решения на базе стильных планшетных устройств и сенсорных панелей. Идеально подходят для установки в офисах банков, точках продаж и обслуживания клиентов, у касс магазинов и стойках ресепшн.
        .img_block
      .col-xs-6
        p.about
          |Об инструменте:
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_48.png", alt="")
            p.mindesc
              |Экран 7 дюймов
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_10.png", alt="")
            p.mindesc
              |Трансляция рекламы и медиаконтента
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/planch_03.png", alt="")
            p.mindesc
              |Запатентованная конструкция
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_03.png", alt="")
            p.mindesc
              |Аудиозапись разговоров с клиентами
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/planch_09.png", alt="")
            p.mindesc
              |Подключение WiFi / 3G
          .col-xs-6
            img.pull-left.ics(src="img/planch_07.png", alt="")
            p.mindesc
              |Фото покупателей
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/planch_14.png", alt="")
            p.mindesc
              |Централизованное управление 
          .col-xs-6
            img.pull-left.ics(src="img/planch_13.png", alt="")
            p.mindesc
              |Электронный бейдж
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/planch_17.png", alt="")
            p.mindesc
              |Дистанционная загрузка контента
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_14.png", alt="")
            p.mindesc
              |Тестирование персонала
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_44.png", alt="")
            p.mindesc
              |Оценка  лояльности (NPS, CSI и др. индексы)
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_40.png", alt="")
            p.mindesc
              |Интеграция с системой управления очередью
        .row
          button
            |Получить расчет цены
  .popup_more3
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Мобильные сервисы
          span
    .row
      .col-xs-6
        p.desc
          |Мобильные приложения и сервисы для маркетинговых коммуникаций через смартфон покупателя. Превосходно подходят для ритейла, ресторанной отрасли, автоцентров, гостиничных сетей, медицины, производителей товаров массового спроса. 
        .img_block
      .col-xs-6
        p.about
          |Об инструменте:
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/planch_03.png", alt="")
            p.mindesc
              |Прямой регулярный контакт с клиентами через мобильный телефон
          .col-xs-6
            img.pull-left.ics(src="img/letter.png", alt="")
            p.mindesc
              |Бесплатный канал маркетинговых коммуникаций (PUSH-уведомления)
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_44.png", alt="")
            p.mindesc
              |Платформы для мобильной Программы лояльности
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_40.png", alt="")
            p.mindesc
              |SMS/Email уведомления менеджмента о проблемах клиентов
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_10.png", alt="")
            p.mindesc
              |Информирование покупателей
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_14.png", alt="")
            p.mindesc
              |Вовлечение в покупки друзей и знакомых
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_09.png", alt="")
            p.mindesc
              |Замена пластиковых дисконтных карт на электронный вариант
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_16.png", alt="")
            p.mindesc
              |Получение обратной связи от клиентов
        .row
          button
            |Получить расчет цены
  .popup_more4
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Интернет-технологии
          span
    .row
      .col-xs-6
        p.desc
          |Комплекс методов и технологий, направленных повышение информируемости целевой аудитории и создания позитивного  информационного фона вокруг деятельности вашей компании в интернете и социальных сетях. Услуги ориентированы на средний и крупный бизнес, государственные органы. 
        .img_block
      .col-xs-6
        p.about
          |Об инструменте:
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_30.png", alt="")
            p.mindesc
              |Мониторинг социальных сетей, блогов, форумов, «отзовиков» и СМИ
          .col-xs-6
            img.pull-left.ics(src="img/town.png", alt="")
            p.mindesc
              |Разработка концепции управления репутацией
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_14.png", alt="")
            p.mindesc
              |Мониторинг деятельности конкурентов
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_16.png", alt="")
            p.mindesc
              |Внедрение «агентов влияния» в социальных медиа
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_40.png", alt="")
            p.mindesc
              |Анализ целевой аудитории
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_10.png", alt="")
            p.mindesc
              |Проведение PR-кампаний
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_44.png", alt="")
            p.mindesc
              |Разработка SMM-стратегии
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_16.png", alt="")
            p.mindesc
              |Выбор стратегии реагирования на высказывания
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_46.png", alt="")
            p.mindesc
              |Удаление и вытеснение негатива с форумов и поисковых страниц
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_48.png", alt="")
            p.mindesc
              |SEO продвижение и контекстная реклама
        .row
          button
            |Получить расчет цены
  .popup_more5
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Решения для Контактных центров
          span
    .row
      .col-xs-6
        p.desc
          |Широкий спектр ИТ-решений, позволяющих организовать или оптимизировать процессы клиентского обслуживания через Контактный центр. Услуги ориентированы на организации, которые уже имеют контакт-центры или планируют его создание.  
        .img_block
      .col-xs-6
        p.about
          |Об инструменте:
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_35.png", alt="")
            p.mindesc
              |Гарантированный прием и обработка входящих вызовов 
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_05.png", alt="")
            p.mindesc
              |Управление персоналом и составление графиков работы
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/call_03.png", alt="")
            p.mindesc
              |Автоматизация исходящего обзвона 
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_40.png", alt="")
            p.mindesc
              |Управление производительностью работы контакт центра 
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_16.png", alt="")
            p.mindesc
              |Удобное интерактивное речевое взаимодействие 
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_48.png", alt="")
            p.mindesc
              |Дистанционное обучение 
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_33.png", alt="")
            p.mindesc
              |Обработка мультимедийных запросов (email, fax, sms, web chat)
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_46.png", alt="")
            p.mindesc
              |Обратная связь с клиентом: анализ записанных разговоров (реч. аналитика)
        .row.padb
          .col-xs-6
            img.pull-left.ics(src="img/bg4_i_44.png", alt="")
            p.mindesc
              |Оценка качества работы операторов 
          .col-xs-6
            img.pull-left.ics(src="img/call_07.png", alt="")
            p.mindesc
              |Глубокая интеграция с CRM-системой
        .row
          button
            |Получить расчет цены
  .popup_more6
    .box-modal_close.arcticmodal-close.close
    .row
      .col-xs-12
        .zag
          |Финансовые, учетные и CRM системы
          span
    .row
      .col-xs-6
        p.desc
          |Базовые ИТ-платформы, которые являются «ядром» взаимодействия вашего бизнеса с клиентами, помогают автоматизировать процессы продаж и маркетинговых коммуникаций с потребителями.
        .img_block
      .col-xs-6
        p.about
          |Об инструменте:
        .row.padb
          img.pull-left.ics(src="img/crm_03.png", alt="")
          p.mindesc
            |Комплексная автоматизация отношений с клиентами: CRM и ERP системы на базе 1С и Microsoft Dynamics CRM
        .row.padb
          img.pull-left.ics(src="img/crm_07.png", alt="")
          p.mindesc
            |Организация обмена данными между CRM, учетными и финансовыми  системами, сайтом и т.д.
        .row.padb
          img.pull-left.ics(src="img/crm_11.png", alt="")
          p.mindesc
            |Индивидуальная разработка информационных систем под требования бизнеса
        .row.padb
          img.pull-left.ics(src="img/bg4_i_33.png", alt="")
          p.mindesc
            |Повышение производительности систем
        .row
          button
            |Получить расчет цены


